@media (max-width: 992px) {
    .col-md-3,
    .col-lg-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .col-md-3,
    .col-lg-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


  .stripe-button {
    display: inline-block;
    width: 400px; /* Adjust the width as needed */
    height: auto;
    padding: 10px;
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
  }