asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.5.7
chardet==3.0.4
Django==4.2
django-debug-toolbar==4.0.0
django-filter==23.2
djangorestframework==3.14.0
idna==2.8
importlib-metadata==6.8.0
Markdown==3.4.3
Pillow==9.5.0
python-decouple==3.8
pytz==2023.3
requests==2.22.0
sqlparse==0.4.4
typing-extensions==4.7.1
urllib3==1.25.11
zipp==3.16.0
