/* custom.css */

  form.form-control input[type="search"] {
    width: 78%;
    font-size: 16px;
  }
  
  .cart_container img {
    width: 24px;
  }
  
  .cart-item-count h4 {
    font-size: 16px;
  }
  
  .button-container {
    margin: 25px;
  }

.card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .addtocart {
    margin-top: 10px;
  }



/* Responsive Styles */

/* Media Query for Small Screens */
@media screen and (max-width: 576px) {
  /* Update container width */
  .container {
    width: 60%;
  }
  
  /* Adjust margin for button container */
  .button-container {
    margin: 10px;
  }
  
  /* Center align the cart item count */
  .cart-item-count {
    text-align: center;
  }
  
  /* Reduce size of search input */
  form.form-control input[type="search"] {
    width: 30%;
    padding-bottom: 2px;
    line-height: 1.5;
    font-size: 12px;
  }
  
  /* Reduce size of cart logo */
  .cart_container img {
    width: 10px;
  }
}

/* Media Query for Medium and Large Screens */
@media screen and (min-width: 577px) {
  /* Update container width */
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Adjust margin for button container */
  .button-container {
    margin: 25px;
  }
  
  /* Center align the cart item count */
  .cart-item-count {
    text-align: center;
  }
}